###ProjectTools###
**/.project-tools.yml

###Build results###
**/Build/
Outputs/
**/Release/

###Git related###
.git
.gitattributes
.gitignore
.gitmodules

###IDEs###
.cproject
.idea/
.project
CMakeLists.txt.user

###Travis###
.travis.yml

###Docker###
Dockerfile
.dockerignore
docker-compose.yml

###Python###
**/__pycache__/
*.py[cod]

###CMake###
**/CMakeCache.txt
**/CMakeFiles
**/CTestTestfile.cmake
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt

###Mac###
.DS_Store
